.align-center {
  display: flex;
  justify-content: center;
}

.task-card {
  width: 500px;
  height: auto;
  text-align: center;
  row-gap: 20px;
  margin-top: 2em;
}

.task-list {
  font-size: large;
  margin: 10px;
  text-decoration: none;
}
.task-done {
  font-size: large;
  margin: 10px;
  text-align: center;
  text-decoration: line-through;
}

.divider {
  margin: 8px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  align-items: center;
  min-height: 100px;
}

.title-edit {
  display: flex;
}

.title-button {
  display: flex;
  margin-left: 12px;
}

.task {
  display: flex;
  align-items: center;
  min-height: 96px;
}

.content {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 16px;
}

.buttons {
  display: flex;
}

.edit {
  margin-top: 20px;
}

.delete-card {
  display: flex;
  justify-content: right;
}

.card-head {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
