<div class="align-center">
  <mat-card class="task-card">
    <mat-card-content>
      <mat-card-header class="title">
        <div>
          <div
            [hidden]="titleEdit"
            (click)="onClickEditTitle()"
            (mouseover)="editTitleIcon = true"
            (mouseout)="editTitleIcon = false"
          >
            <div [hidden]="titleEdit">{{ CardTitle }}</div>
          </div>

          <div [hidden]="!titleEdit">
            <app-title-edit
              (editTitleEvent)="onEventEditTitle($event)"
              [titleToEdit]="CardTitle"
            ></app-title-edit>
          </div>
        </div>
      </mat-card-header>
      <app-task-form
        (refreshTaskListEvent)="refreshTaskList()"
        [formCardID]="this.CardID"
      ></app-task-form>

      <mat-list-item
        *ngFor="
          let task of filterTaskList(search, filterDoneStatus);
          trackBy: trackById;
          last as last
        "
      >
        <div class="task">
          <div class="checkbox">
            <mat-checkbox
              [disabled]="task.edit"
              [(ngModel)]="task.done"
              (ngModelChange)="onChangeDoneStatus(task)"
            ></mat-checkbox>
          </div>
          <div class="content">
            <div [hidden]="task.edit">
              <div
                id="task{{ task.id }}"
                class="task-list"
                [ngClass]="{ 'task-done': task.done }"
              >
                <div *ngIf="task.description === ''">{{ task.content }}</div>

                <div *ngIf="task.description !== ''">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      {{ task.content }}
                    </mat-expansion-panel-header>
                    {{ task.description }}
                  </mat-expansion-panel>
                </div>
              </div>
            </div>

            <div [hidden]="!task.edit" class="edit">
              <app-task-edit
                [taskToEdit]="task"
                [editCardID]="this.CardID"
              ></app-task-edit>
            </div>
          </div>
          <div class="buttons">
            <button
              [hidden]="task.edit"
              mat-icon-button
              matTooltip="Edit"
              aria-label="Button to edit a task"
              (click)="onClickEditTask(task)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              [hidden]="task.edit"
              mat-icon-button
              matTooltip="Delete"
              aria-label="Button to delete a task"
              (click)="onClickDelete(task); refreshTaskList()"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <mat-divider *ngIf="!last"></mat-divider>
        </div>
      </mat-list-item>
    </mat-card-content>
  </mat-card>
</div>
