<div class="align-center">
  <mat-card class="task-card">
    <mat-card-content>
      <div class="card-head">
        <mat-card-header class="title">
          <div>
            <div
              [hidden]="titleEdit"
              (click)="onClickEditTitle()"
              (mouseover)="editTitleIcon = true"
              (mouseout)="editTitleIcon = false"
            >
              <div [hidden]="titleEdit">{{ cardTitle }}</div>
            </div>

            <div [hidden]="!titleEdit">
              <app-title-edit
                (editTitleEvent)="onEventEditTitle($event)"
                [titleToEdit]="cardTitle"
              ></app-title-edit>
            </div>
          </div>
        </mat-card-header>
      </div>

      <app-task-form
        (refreshTaskListEvent)="refreshTaskList()"
        [formCardID]="this.cardID"
      ></app-task-form>

      <mat-list-item
        *ngFor="
          let task of filterTaskList(search, filterDoneStatus);
          trackBy: trackById;
          last as last
        "
      >
        <div class="task">
          <div class="checkbox">
            <mat-checkbox
              [disabled]="task.edit"
              [(ngModel)]="task.done"
              (ngModelChange)="onChangeDoneStatus(task)"
            ></mat-checkbox>
          </div>
          <div class="content">
            <div [hidden]="task.edit">
              <div
                id="task{{ task.id }}"
                class="task-list"
                [ngClass]="{ 'task-done': task.done }"
              >
                <div>
                  {{ task.content }}
                </div>
                <div [ngClass]="{ 'time-expired': checkDateTime(task) }">
                  <div *ngIf="task.dueDate" class="task-date">
                    {{ task.dueDate }}
                  </div>
                  <div *ngIf="task.dueTime" class="task-time">
                    {{ task.dueTime }}
                  </div>
                </div>
              </div>
            </div>

            <div [hidden]="!task.edit" class="edit">
              <app-task-edit
                [taskToEdit]="task"
                [editCardID]="this.cardID"
              ></app-task-edit>
            </div>
          </div>
          <div class="buttons">
            <button
              [hidden]="task.edit"
              mat-icon-button
              matTooltip="More"
              aria-label="Open task details"
              (click)="openDialog(task)"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button
              [hidden]="task.edit"
              mat-icon-button
              matTooltip="Edit"
              aria-label="Button to edit a task"
              (click)="onClickEditTask(task)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              [hidden]="task.edit"
              mat-icon-button
              matTooltip="Delete"
              aria-label="Button to delete a task"
              (click)="onClickDeleteTask(task)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <div>
          <mat-divider *ngIf="!last"></mat-divider>
        </div>
      </mat-list-item>
    </mat-card-content>
    <mat-card-footer>
      <div class="delete-card">
        <button
          mat-icon-button
          matTooltip="Delete card"
          aria-label="Button to delete a card"
          (click)="onClickDeleteCard()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div></mat-card-footer
    >
  </mat-card>
</div>
