<div class="card">
  <div class="title">
    <h1 mat-dialog-title>{{ data.task.content }}</h1>
  </div>
  <div class="content">
    <div mat-dialog-content class="desc">
      <div class="content-header">
        <div class="content-header-title">
          <h2>Description</h2>
        </div>
        <div class="content-header-button" [hidden]="!data.task.description">
          <button
            mat-flat-button
            color=""
            matTooltip="EditDialogTask"
            aria-label="Button to edit a task in dialog"
            (click)="editDialogTask(data.task)"
          >
            Edit <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="content-header-button" [hidden]="data.task.description">
          <button
            mat-flat-button
            color=""
            matTooltip="EditDialogTask"
            aria-label="Button to edit a task in dialog"
            (click)="editDialogTask(data.task)"
          >
            New <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>

      <div [hidden]="editTask">{{ data.task.description }}</div>
      <div [hidden]="!editTask">
        <app-task-edit
          [taskToEdit]="data.task"
          [editCardID]="data.cardID"
          [isInDialog]="true"
          (submitEvent)="showDialogContent()"
        ></app-task-edit>
      </div>
    </div>

    <div class="task-date">
      {{ data.task.dueDate }}
    </div>
  </div>
  <div class="buttons">
    <div mat-dialog-actions>
      <button mat-button (mat-dialog-close)="onDialogClose()">Close</button>
    </div>
  </div>
</div>
