.align-center {
  display: flex;
  justify-content: center;
}

.create-button {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 18px;
}

.form-group {
  width: 314px;
}

.expansion {
  display: flex;
  align-items: flex-start;
  margin-left: 8px;
  margin-top: 8px;
}

.add-task-content {
  display: flex;
}

.add-task-description {
  display: flex;
  justify-content: left;
}

.form-input {
  display: flex;
  flex-wrap: wrap;
}
