.edit-form {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.form-group {
  display: flex;
  width: 354px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-left: 8px;
}

.input-field {
  display: flex;
}

.edit-input {
  font-size: large;
}

input {
  transform: translateX(-2%);
}
