<form
  (ngSubmit)="onSubmit()"
  #taskForm="ngForm"
  *ngIf="taskToEdit.edit"
  class="dense-3"
>
  <div class="edit-form">
    <div class="edit-content">
      <mat-form-field class="form-group" appearance="outline">
        <div class="edit-input">
          <input
            matInput
            #taskEditInput
            cdkTrapFocus
            [cdkTrapFocusAutoCapture]="true"
            maxlength="200"
            id="editContent"
            [(ngModel)]="taskToEdit.content"
            name="editContent"
          />
        </div>
        <button
          *ngIf="taskToEdit.content"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="taskToEdit.content = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="edit-description">
      <div [hidden]="taskToEdit.description === ''">
        <mat-form-field class="form-group" appearance="outline">
          <div class="edit-input">
            <input
              matInput
              #taskDescEditInput
              maxlength="200"
              id="editDescription"
              [(ngModel)]="taskToEdit.description"
              name="editDescription"
            />
          </div>
          <button
            *ngIf="taskToEdit.content"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            type="button"
            (click)="taskToEdit.content = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="button">
      <button
        mat-icon-button
        color="primary"
        type="submit"
        class="edit-button"
        [disabled]="!taskEditInput.value"
      >
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
</form>
