/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.align-center {
    justify-content: center;
    
}

.task-card {
    justify-content: center;
    width: fit-content;
    text-align: center;
    margin: 10px
}

.task-add {
    display: flex;
    justify-content: center;
    margin: 10px
}