@use "@angular/material" as mat;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #242424;
  background-color: #fdfdfd;
}

.dense-1 {
  @include mat.all-component-densities(-1);
}
.dense-2 {
  @include mat.all-component-densities(-2);
}
.dense-3 {
  @include mat.all-component-densities(-3);
}
