/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.align-center {
    display: flex;
    justify-content: center;
}

.task-card {
    justify-content: center;
    width: 380px;
    height: auto;
    text-align: center;
    margin: 30px 50px 0px 40%;
    row-gap: 20px;
}

.create-button {
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 18px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.tasksList {
    font-size: large;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
.isDone {
    font-size: large;
    margin: 10px;
    text-align: center;
    text-decoration: line-through;
}

.task {
    flex-wrap: wrap
}