<div class="search-task">
  <app-task-search></app-task-search>
  <div class="filter-toggle">
    <mat-slide-toggle checked color="accent" [(ngModel)]="isChecked"
      >See all</mat-slide-toggle
    >
  </div>
</div>
<div class="align-center">
  <mat-card class="task-card">
    <mat-card-header class="align-center"> </mat-card-header>
    <mat-card-content>
      <app-task-form></app-task-form>
      <div [hidden]="!isChecked">
        <mat-list-item *ngFor="let task of taskList; last as last">
          <div class="task">
            <mat-checkbox [(ngModel)]="task.done">
              <span
                id="task{{ task.id }}"
                class="task-list"
                [ngClass]="{ 'task-done': task.done }"
              >
                {{ task.content }}
              </span>
            </mat-checkbox>
          </div>
          <div class="divider">
            <mat-divider *ngIf="!last"></mat-divider>
          </div>
        </mat-list-item>
      </div>
      <div [hidden]="isChecked">
        <mat-list-item *ngFor="let task of taskList | taskFilter; last as last">
          <div class="task">
            <mat-checkbox (change)="isDone(task, $event.checked)">
              <span id="task{{ task.id }}" class="task-list">
                {{ task.content }}
              </span>
            </mat-checkbox>
          </div>
          <div class="divider">
            <mat-divider *ngIf="!last"></mat-divider>
          </div>
        </mat-list-item>
      </div>
    </mat-card-content>
  </mat-card>
</div>
