.align-center {
  display: flex;
  justify-content: center;
}

.task-card {
  width: 500px;
  height: auto;
  text-align: center;
  row-gap: 20px;
  margin-top: 2em;
}

.task-list {
  font-size: large;
  margin: 10px;
  text-decoration: none;
}
.task-done {
  font-size: large;
  margin: 10px;
  text-align: center;
  text-decoration: line-through;
}

.task {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  word-break: break-all;
}

.chips {
  display: flex;
  justify-content: center;
}

.search-task {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.divider {
  margin: 8px;
}

.task-counter {
  display: flex;
  justify-content: space-evenly;
}
