.align-center {
  display: flex;
  justify-content: center;
}

.task-card {
  width: 500px;
  height: auto;
  text-align: center;
  row-gap: 20px;
  margin-top: 2em;
}

.task-list {
  font-size: large;
  margin: 10px;
  text-decoration: none;
}
.task-done {
  font-size: large;
  margin: 10px;
  text-align: center;
  text-decoration: line-through;
}

.chips {
  display: flex;
  justify-content: center;
}

.search-task {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.divider {
  margin: 8px;
}

.task-body {
  display: flex;
  width: 75%;
  word-break: break-all;
  margin-top: 4px;
}

.button-container {
  display: flex;
}

.buttons {
  display: flex;
}

.task {
  display: flex;
  margin-top: 38px;
  height: 76px;
}

.task-counter {
  display: flex;
  justify-content: space-evenly;
  margin: -12px 12px 8px 296px;
  color: grey;
}

.counter-todo-done {
  display: flex;
  justify-content: space-evenly;
  margin-right: 12px;
  width: 124px;
}

.counter-total {
  font-weight: bold;
}
